*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.gradle/
.idea/workspace.xml
src/
.idea/modules/scala_learn-build.iml
.idea/sbt.xml
.idea/scala_compiler.xml
